
.config/.DS_Store
.config/WakaTime
.config/gatsby
.config/nvim/plugged
.config/coc
.config/configstore
.config/fish

.DS_Store

.vim/plugged/vim-wakatime
.vim/plugged/wal.vim/
.vim/plugged/

.tmux/plugins/
.tmux/plugins/tqm

.ssh/
.aws/

!.config/fish/config.fish
!.config/fish/fishfile
